@CHARSET "utf-8";
<style type="text/css">
	.conainer{}
	
	* {
		margin: 0px;
		padding: 0px;
	}
	
	header#main_img{
	width: 80%;
	height:300px;
	margin-top:3%;
	margin-left:5%;
	margin-bottom:0px;
	border: 3px solid rgb(229,238,249) ;
	}
	
	header{
	width: 90%;
	height:50px;
	margin-top:3%;
	margin-left:5%; 
	margin-bottom:0px;
	border: 3px solid rgb(229,238,249) ;
	}
	
	nav{
		position:relative;
		top:10px;
		left:3%;
		margin : 1%;
	}
	
	section#main_section{
	position:relative;
	width:80%;
	height:200px;
	margin-top:240px;
	}
	
	section{
	width:90%;
	height:auto;
	margin-left:5%;
 	border: 3px solid rgb(229,238,249) ;
	}

	
	}

	footer{

	width:90%;
	margin-left:5%;
	border: 3px solid rgb(229,238,249) ;
	
	}

    


/* 테이블 CSS 
	table {
		border : 0.3px solid black;
		border-collapse : collapse;
	}
	
	th, td {
		border :  0.3px solid black;
		padding : 7px;
	}
	
	td#p_status{
	border : solid  #4CAF50 ;
	background-color: #4CAF50;
    color: white;
	}
	
	td#hpPipe{
	border : solid  #ff80c0 ;
	background-color: #ff80c0;
    color: white;
	}
	
	td#hd{
	border : solid  #c0c0c0 ;
	background-color: #c0c0c0;
    color: white;
	}
*/

	/* 로그인 그룹 */
	#login_group{
		position:relative;
		top :20%;
		left : 15%;
	}

	#nav_btn{
	rgb(14,53,132);
	
	}
	
	/* PopUp창 네비게이터 */
	aside#left{
	float:left;
	width:200px;
	}

	
	/*
	html{
		background-image: url('../images/main.jpg');
		background-repeat: no-repeat; 배경화면 반복 X 
		background-size: 100%;
	}
	*/
</style>